<!DOCTYPE html>
<html>
  <head>
    <title>CalendarBooster2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.oauth_access_token.nil? || current_user.oauth_access_token_expiration_date < DateTime.now %>
      <%= link_to "Connect your calendar here", controller: "oauth2", action: "redirect" %>
    <% else %>
      <p> Your calendar is connected! </p>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    <% end %>
  </body>
</html>
